<h1>Welcome</h1>
<%= link_to "Doctors", doctors_path-%> <br><br>
<%= link_to "Patients", patients_path-%> <br><br>
<%= link_to "Appointment", generate_appointments_path-%> <br><br>
<%= link_to "Available doctors", available_doctors_dashboard_index_path-%>