<h1>Editing Generate Appointment</h1>

<%= render 'form', generate_appointment: @generate_appointment %>

<%= link_to 'Show', @generate_appointment %> |
<%= link_to 'Back', generate_appointments_path %>
